<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> , data tidak dapat tersimpan, karena:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12 form-group">
    <div class="col-md-4"><%= f.label :title %></div>
    <div class="col-md-8"><%= f.text_field :title, class:'form-control' %></div>
  </div>


  <div class="col-md-12 form-group">
    <div class="col-md-4"><%= f.label :category_id %></div>
    <div class="col-md-8"><%= f.select :category_id, options_for_select(Category.all.collect{|v| [v.name,v.id]},f.object.category_id),{}, {class:'form-control'} %></div>
  </div>

  <div class="col-md-12 form-group">
    <div class="col-md-4"><%= f.label :content %></div>
    <div class="col-md-8"><%= f.text_area :content, class:'form-control', style:'min-height:300px;' %></div>
  </div>

  <div class="col-md-12 form-group">
    <div class="col-md-4"><%= f.label :image %></div>
    <div class="col-md-8"><%= f.file_field :image, class:'form-control' %></div>
  </div>

  <div class="col-md-12 form-group">
    <div class="col-md-11"></div>
    <div class="col-md-1"><input type="submit" name="submit" value="Simpan" class="btn btn-primary"></div>
  </div>
<% end %>
