<article id="home">
<div id="messages">
      <%= render 'layouts/messages'%>
    </div>

<dl class="dl-vertical">
  <dt><strong>Judul:</strong></dt>
  <dd><%= @article.title %></dd>

  <dt><strong>Kategori:</strong></dt>
  <dd><%= @article.category.name rescue nil %></dd>

  <dt><strong>Konten:</strong></dt>
  <dd><%= @article.content %></dd>
  
  <dt><strong>Gambar:</strong></dt>
  <dd><%= @article.image %></dd>
</dl>
<hr/>
<br/>
<%= link_to 'Edit', edit_article_path(@article),{class:'btn btn-default', style:'float:right;'} %>
<%= link_to 'Back', articles_path, {class:'btn btn-default', style:'float:left;'} %>
</article>