<article id="home">
	<div id="messages">
		<%= render 'layouts/messages'%>
	</div>
	<div id="last_article">

		<h2 id="page_title"><%=@article.title%></h2>
		<center><%= image_tag @article.image.url(:medium) if @article.image.exists?%></center><br/>
		<p>Kategori: <em><%=@article.category.name%></em></p>
		<p id="content"><%=@article.content%></p>
		<p id="count_comments"><a href="<%=@article.id%>"><%=@count_comments%> Komentar</a></p>
	</div>
	<%if user_signed_in?%>
	<fieldset id="comment">
		<legend>Komentar</legend>
				
			<form method='post' action='/commenting'>
				<input type='hidden' name="article_id" value="<%=@article.id%>"/>
				<input type='hidden' name="user_id" value="<%=current_user.id if user_signed_in? %>"/>
				<textarea name="content" maxlength="200" id="text-comment" placeholder="komentar anda .."></textarea><br/>
				<input type="submit" name="send" id="send" value="Kirim" class="btn btn-primary">
			</form>
		<br/>
	</fieldset>
	<%end%>
	<br/>
	<hr/>
	<div id="section">
		<div id="list_articles">
		<h1 id="page_title">Artikel Lain</h1>
		<dl>
			<% @articles.each do |v| %>
				<div class="col-md-2" style="float:left;">
				  	<dd><%= image_tag v.image.url(:thumb) if v.image.exists?%></dd>
				</div>
				<div class="col-md-10" style="float:right;">
					<dt id="title"><strong><%=v.title%></strong> <em>(kategori: <%=v.category.name%>)</em></dt>
			  		<dd id="content"><%=v.content[0..100]%> <a href="/<%=v.id%>" id="read_more">read more ...</a></dd>
			  	</div>
			  	<br/>
			  	<hr/>
			<% end %>
			</dl>
		<%= paginate @articles%>
		</div>
		<%=render 'aside' %>
	</div>
</article>