<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
  <div id="error_explanation">
      <p><strong><%= pluralize(category.errors.count, "error") %> , data tidak dapat tersimpan, karena:</strong></p>
      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <div class="col-md-3">
      <%= f.label 'Kategori' %>
    </div>
    <div class="col-md-5">
      <%= f.text_field :name, {class: 'form-control'} %>
    </div>
    <div class="col-md-4">
      <input type="submit" name="submit" value="Simpan" class="btn btn-primary">
    </div>
  </div>
<% end %>
